*{margin:0;padding:0}

h1, h3, p{
    font-family:'Courier New', Courier, monospace;
    font-size: clamp(0.5rem,2vh,1.5rem);
}


main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
}

.canvasContainer {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.controlsContainer {
    height: 100%;
    width: 50%;
    background-color: rgb(212, 212, 218);
    display: grid;
    grid-template-rows: 1fr 8fr;
}

.valueContainer {
    display: grid;
    grid-template-columns: 2fr 1fr 10fr;
    grid-template-rows : 1fr;
}

.currValue {
    align-self: center;
    justify-self: center;
}

.simParameters {
    margin: 2vh;
}
.colorsPicker {
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.colorsPickerParameters {
    margin-left: 2vh;
}
.vector3 {
    display: grid;
    grid-template-columns: 8rem 5rem 5rem 5rem;
    gap: 1rem;
    height: 3.5vh;
}
.vector3 input{
    text-align: center;
    font-size: clamp(0.5rem,2vh,1.5rem);
    color: white;
}

#regrow {
    height: 3rem;
    width: 15rem;
    font-size: 1.5rem;
}

.vector3 input:nth-child(2){ background-color: red;}
.vector3 input:nth-child(3){ background-color: greenyellow;}
.vector3 input:nth-child(4){ background-color: blue;}
