*{margin:0;padding:0} 

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
}

.canvasContainer {
    height: 1497px;
    width: 897px;
    
}